body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-image: linear-gradient(600deg,rgba(224, 49, 151, 0.589),rgb(182, 30, 42));
    
}
h1{
    font-size: 35px;
}
.half-width{
   width: 40%;
   float: left;
   margin-left: 4%;
   padding-right: 2%;
   color: rgb(56, 28, 28)
}
.half-width img{
    width: 100%;
    margin-right: 4%;
}
.padding-bottom{
    padding-top: 10%;

    
}
section{
    height: 600px;
    width: 100%;
}
h1{
    color: rgb(52, 52, 179);
}
.button{
    background-color: rgb(52, 52, 179);
    font-size: 20px;
    color: rgb(170, 43, 50);
    background-image: linear-gradient(200deg,blue,cyan);
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 33.33%;
    padding: 20px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.column img{
    width: 100%;
}
#center{
    text-align: center;
}
.center{
    text-align: center;
    margin: auto;
    
}
#small{
    font-size: 12px;
}
   
